tags
TAGS
local.mk
doit
t
tagit

build-*
cscope.*

.ninja_deps
.ninja_log

*.orig
*.swp
*~
*.pyc
*.class
*.fletch

*.snap
*.snap.info.bin
*.snap.info.json

third_party/lk
third_party/fletch
third_party/openocd/linux
